@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>音乐电台 - ZKFM</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script>
        //不支持ie9以下
        var appName = navigator.appName;
        var appVersion = navigator.appVersion;
        console.info("appName:" + appName);
        console.info("appVersion:" + appVersion);
        if (appName == "Microsoft Internet Explorer" && appVersion.match(/(\d)./i)[1] <= 9) {
            window.location.href = "/noie.html";
        }
    </script>
</head>
<body>

    <div class="searchbox">
        <input type="text" id="text" class="search" value="" placeholder="搜索并回车" />
        <input type="hidden" id="page" value="1" />
        <div id="searchlist">
            <div id="searchresult">
            </div>
            <div id="navi"></div>
        </div>
    </div>
    <div class="searchbtn"><i class="fa fa-search"></i></div>

    <div id="wrap">
        <div class="control">
            <div class="github"><i class="fa fa-github" title="GitHub"></i></div>
            <div class="repeat" r="0"><i class="fa fa-random" title="单曲循环"></i></div>
            <div class="nexts"><i class="fa fa-forward" title="下一首"></i></div>
            <div class="about"><i class="fa fa-gear" title="关于"></i></div>
        </div>

        <div class="middle">
            <nav class="play-list">
                <div class="list-button"><i class="fa fa-bars"></i></div>
                <div class="playlist">
                    <div class="playlisttitle">播放列表</div>
                    <div id="list">
                        <div id="result"></div>
                    </div>

                </div>
            </nav>

            <div class="player">
                <div class="album">
                    <img src="~/img/album.jpg" alt="album" id="pic" class="rotate">
                    <div class="center"></div>
                    <div class="start">
                        <i class="fa fa-play"></i>
                    </div>
                </div>
                <div class="title">
                    <span class="musicid" style="display: none"></span>
                    <h1 class="name"></h1>
                    <h2 class="sub-title"></h2>
                    <div class="lrc">
                        <div id="lrc-lines">
                            @*<p>一张褪色的照片</p>
                            <p>好像带给我一点点怀念</p>*@
                        </div>
                    </div>
                </div>

                <audio id="music"></audio>
            </div>

        </div>
        <div class="progress">
            <div class="current"></div>
        </div>
    </div>

    <div class="cover"></div>
    <img src="~/img/bg.jpg" class="background"/>
    <script data-main="js/app.js" src="js/require.js"></script>
    <div style="display:none">
        <script src="https://s13.cnzz.com/z_stat.php?id=1274771357&web_id=1274771357" language="JavaScript"></script>
    </div>
</body>
</html>